<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreKeepersWorkshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CoreKeepersWorkshop.Properties.Settings>
            <setting name="ItemAmount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ItemID" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="CurrentItemTab" serializeAs="String">
                <value>TabPage1</value>
            </setting>
            <setting name="ItemVeriation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UIBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="UIBackgroundCount" serializeAs="String">
                <value>0</value>
            </setting>
        </CoreKeepersWorkshop.Properties.Settings>
    </userSettings>
</configuration>