<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreKeepersWorkshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CoreKeepersWorkshop.Properties.Settings>
            <setting name="ItemAmount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ItemID" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="CurrentItemTab" serializeAs="String">
                <value>TabPage1</value>
            </setting>
            <setting name="ItemVariation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoVariation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="ItemEditorLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="InventoryEditorLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="CookbookLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="InventoryBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="InventoryBackgroundCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatBackgroundCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerBackgroundCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorldBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldBackgroundCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevToolDelay" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RadialMoveScale" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapRenderingMax" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MapRenderingStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FishingCast" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FishingPadding" serializeAs="String">
                <value>100</value>
            </setting>
        </CoreKeepersWorkshop.Properties.Settings>
    </userSettings>
</configuration>